@charset "utf-8";

h1, li, figcaption, p, h2 {
    text-align: center;
}

html {
    background-color: gray;
}
body {
    background-color: lightcoral;
    border-radius: 20px;
    padding: 5px;
}
figure img{
    display: block;
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin: auto;

}
div {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

